.job-card {
    background-color: #333;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

.company-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.company-name {
    font-weight: bold;
}

.position {
    font-size: 20px;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.salary, .role, .type {
    font-size: 16px;
}

.tags {
    font-size: 14px;
}