.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    min-width: 15%;
    background-color: #262a2d;
    color: #ccc;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 1;
}

.nav-text {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-text:hover {
    background-color: #333;
}

.active-nav {
    background-color: #444;
}

.sub-nav-text {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 50px 8px 70px;
}

.sub-nav-text:hover {
    background-color: #333;
}