.sidebar {
    background-color: #262a2d;
    height: 100vh;
    position: fixed;
    top: 55px;
    left: 0;
    width: 200px;
    z-index: 1;
    overflow-y: auto;
}

.sidebar__link {
    color: #ffffff;
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}

.link:hover {
    background-color: #3a3d40;
}